{% extends 'blog/base.html' %}

{% load static %}


{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <title>Document</title>
    </head>
    <body>
        <div class="contact-section">

            <!-- <div class="contact-info">
                <div><i class="fas fa-map-marker-alt">Address,city,Country</i></div>
                <div> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                <div> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                <div> <i class="fas fa-clock    "></i> </div>
            </div> -->
            <div class="contact-form">
                <h4>Contact us</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" class="text-box" placeholder="Your name",required>
                    <input type="email" name="email" class="text-box" placeholder="Enter Email" required>
                    <textarea name="message" id=""  cols="30" rows="10" required></textarea>
                    <input class="btn btn-primary" type="submit" name="" value="Send">
                </form>
            </div>
        </div>
    </body>
    </html>    
{% endblock content %}

