{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
   <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static 'css/create.css' %}">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
       <title>Document</title>
   </head>
   <body>
       
       <div class="container" style="width: 70%;">
           <div class="form-group">
               <h4 class="heading">Share Your Post</h4>
               
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{form.media}}
                {{form.as_p|safe}}

                <button class="bt" type="submit">Submit</button>
           </form>
           
           </div>
       </div>
      
    </div>
   </body>
   </html>
{% endblock content %}
    