{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body >
    
    <div class="container" style="width: 60%;">
        
        <form action="#" method="POST">

            {% csrf_token %}
            <div class="title">Registration Here</div>

            <div class="message" style="color: red;">
                    
                {% for message in messages %}
                    sorry! <h4>{{message}}</h4>
                {% endfor %}
            </div>

            <div class="user-details">

            
                    
                <div class="input-box">
                    <span class="details">Enter Full Name</span>
                    <input type="text" name="name" value="" placeholder="Enter Your Name" required>

                </div>
                <div class="input-box">
                    <span class="details">Enter username</span>
                    <input type="text" name="username" value="" placeholder="Enter username" required>

                </div>
                <div class="input-box">
                    <span class="details">Enter your email</span>
                    <input type="text" name="email" value="" placeholder="Enter Your Email" required>

                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" name="phone" value="" placeholder="Phone Numebr" required>

                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" value="" placeholder="password" required>

                </div>
                <div class="input-box">
                    <span class="details">Confirm password</span>
                    <input type="password" name="confirm" value="" placeholder="Confirm password" required>

                </div>
            </div>
           

            <div class="button">
                <input type="submit" value="Resiger">
            </div>
        </form>
    </div>

        
       
            
    <div class="footer">
        <span>Copyright © 2021 All Rights Reserved by icortex

        </span>
    </div>
</body>
</html>
    
{% endblock content %}
    
